flask
flask-cors
flask-jwt_extended
flask-limiter
flask-marshmallow
flask-talisman
python-dotenv
requests
python-whois
pyotp
pyopenssl
cryptography
twilio
pymongo
mongoengine
dnspython
gunicorn
pandas
scikit-learn
joblib
python-Levenshtein
numpy
